@import "nav.postcss";
@import "button.postcss";
@import "table.postcss";
@import "tags.postcss";
@import "tabs.postcss";

/* Select Combo */
.select-combo {
  @apply flex;
  > label {
    @apply border border-gray-300 rounded-s-sm border-r-0 py-1 px-2 bg-gray-200;
  }
  > select {
    @apply ml-0 bg-white border rounded-e-sm border-gray-300;
  }
}