/* Write your global styles here, in PostCSS syntax */
@import "tailwindcss/base";
@import "./css/base.postcss";
@import "tailwindcss/components";
@import "./css/components.postcss";
@import "tailwindcss/utilities";

@layer utilities {

}